<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Settings</h2>
        
        {{#if message }}
          <div class="alert alert-danger">{{ message }}</div>
        {{/if}}

        <form method="post" action="/admin" name="adminForm">
          <div class="form-group">
            <label>Url</label>
            <input class="form-control input-lg" type="text" name="url" placeholder="Url" required autofocus value="{{settings.url}}">
          </div>
          
          <div class="form-group">
            <label>Schedule (e.g. 5 minutes, 1 week, etc)</label>
            <input class="form-control input-lg" type="text" name="schedule" placeholder="Schedule" required autofocus value="{{settings.schedule}}">
          </div>

          <div class="form-group">
            <label>Email addresses (comma separated)</label>
            <input class="form-control input-lg" type="text" name="emailAddresses" placeholder="Email addresses" value="{{settings.email_addresses}}">
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="sendEmail" value="{{settings.send_email}}" {{checkedIf settings.send_email}}> Send email to users?
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" name="crawl" value="{{settings.crawl}}" {{checkedIf settings.crawl}}> Crawl?
            </label>
          </div>

          <button type="submit" class="btn btn-lg btn-block btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>